.dashboard_box_container {
  display: grid;
  grid-template-columns: 24.4% 24.4% 24.4% 24.4%;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
@media (max-width: 1000px) {
  .dashboard_box_container {
    grid-template-columns: 49% 49%;
  }
}
@media (max-width: 550px) {
  .dashboard_box_container {
    grid-template-columns: 100%;
  }
}
.dashboard_box_container .db-box {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #0002;
  position: relative;
}
.dashboard_box_container .db-box::before {
  content: "";
  position: absolute;
  right: 0%;
  top: 0%;
  background: #ffffff1a;
  width: 50px;
  height: 50px;
  transform: rotate(45deg) translate(-50%, -50%);
}
.dashboard_box_container .db-box::after {
  content: "";
  position: absolute;
  left: 90%;
  top: 100%;
  background: #ffffff1a;
  border: 1px solid #fff6;
  width: 60px;
  height: 60px;
  transform: rotate(30deg) translate(-50%, -50%);
  box-shadow: -1px -3px 11px 1px #0000002e;
}
.dashboard_box_container .db-box:nth-child(1) {
  background: linear-gradient(-45deg, #b71c1c, #AD1457);
  box-shadow: 1px 1px 10px #b71c1c88;
}
.dashboard_box_container .db-box:nth-child(2) {
  background: linear-gradient(-45deg, #880E4F, #6A1B9A);
  box-shadow: 1px 1px 10px #880E4F88;
}
.dashboard_box_container .db-box:nth-child(3) {
  background: linear-gradient(-45deg, #4A148C, #4527A0);
  box-shadow: 1px 1px 10px #4A148C88;
}
.dashboard_box_container .db-box:nth-child(4) {
  background: linear-gradient(-45deg, #311B92, #283593);
  box-shadow: 1px 1px 10px #311B9288;
}
.dashboard_box_container .db-box:nth-child(5) {
  background: linear-gradient(-45deg, #1A237E, #1565C0);
  box-shadow: 1px 1px 10px #1A237E88;
}
.dashboard_box_container .db-box:nth-child(6) {
  background: linear-gradient(-45deg, #0D47A1, #0277BD);
  box-shadow: 1px 1px 10px #0D47A188;
}
.dashboard_box_container .db-box:nth-child(7) {
  background: linear-gradient(-45deg, #01579B, #00838F);
  box-shadow: 1px 1px 10px #01579B88;
}
.dashboard_box_container .db-box:nth-child(8) {
  background: linear-gradient(-45deg, #006064, #00695C);
  box-shadow: 1px 1px 10px #00606488;
}
.dashboard_box_container .db-box:nth-child(9) {
  background: linear-gradient(-45deg, #004D40, #2E7D32);
  box-shadow: 1px 1px 10px #004D4088;
}
.dashboard_box_container .db-box:nth-child(10) {
  background: linear-gradient(-45deg, #1B5E20, #558B2F);
  box-shadow: 1px 1px 10px #1B5E2088;
}
.dashboard_box_container .db-box:nth-child(11) {
  background: linear-gradient(-45deg, #33691E, #9E9D24);
  box-shadow: 1px 1px 10px #33691E88;
}
.dashboard_box_container .db-box:nth-child(12) {
  background: linear-gradient(-45deg, #827717, #F9A825);
  box-shadow: 1px 1px 10px #82771788;
}
.dashboard_box_container .db-box:hover {
  box-shadow: 1px 1px 6px #b6c8d9, -1px -1px 6px #b6c8d9;
}
.dashboard_box_container .db-box .icon {
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 1px 1px 6px #00000073 inset, 2px 2px 6px #dadada55 inset;
  background: #ffffff9e;
  border: 1px solid #fff9;
  font-size: 30px;
  padding-top: 18px;
  text-align: center;
  color: #673AB7;
  text-shadow: 1px 1px 6px #0005;
}
.dashboard_box_container .db-box .icon img {
  display: block;
  width: 100%;
}
.dashboard_box_container .db-box .icon + * {
  width: 100%;
  padding: 0 20px;
}
.dashboard_box_container .db-box > div > * {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.dashboard_box_container .db-box > div > h3 {
  font-size: 25px;
  color: #fff;
}
.dashboard_box_container .db-box > div > small {
  color: #ddd;
  display: block;
  margin: 10px 0;
}
.dashboard_box_container .db-box > div > a {
  text-decoration: none;
  color: #e4e4e4;
}
