*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {font-family: 'Nunito Sans', sans-serif;}

a,
a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}
p {
    font-size: 15px;
    color: #212529;
}
ul, ol {list-style-type: none;}

/* login section start */
.login-section {
    background: url('../images/bg-img/bg-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .login-area {
        background: url('../images/bg-img/credential-bd.jpg');
        background-position: right;
        background-size: 60% 100%;
        background-repeat: no-repeat;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 3px 8px 20px 0px #666666;
    }
    .form-content {
        text-align: center;
        padding: 75px 10% 50px;
        background: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        h6 {
            text-transform: uppercase;
            margin-bottom: 3px;
            font-weight: 600;
            font-size: 14px;
            color: #000;
        }
        h2 {
            font-weight: bold;
            color: #0A0010;
        }

        .sign-text {
            font-weight: bold;
            a {
                color: #0A0010;
                text-decoration: underline;
            }
        }
        .form-group {
            position: relative;
            i {
                color: rgba(#000, .7);
                position: absolute;
                top: 10px;
                left: 20px;
                font-size: 18px;
            }
        }
        .form-control {
            font-size: 15px;
            background: none;
            height: 46px;
            line-height: 44px;
            padding: 0 25px 0 42px;
            color: #000;
            border-radius: 25px;
            &:focus {
                border-color: #6A2A6E;
                box-shadow: none;
                outline: none;
            }
            &::-webkit-input-placeholder {color: rgba(#000, .7);}
        }
    }
    input[type="submit"] {
        background: linear-gradient(to right, #300043, #0A0010);
        box-shadow: 1px 2px 5px 0px #999999;
        text-transform: uppercase;
        transition: all .2s;
        border-radius: 25px;
        line-height: 48px;
        padding: 0 20px;
        font-size: 14px;
        cursor: pointer;
        border: none;
        height: 46px;
        width: 100%;
        color: #FFF;
    }
	input[type="submit"]:focus {outline: none;}

    .company-description {
        position: relative;
        text-align: center;
        height: 100%;
        .discription-cover {
            background: linear-gradient(to top left, rgba(#000, .9), rgba(#000, .3));
            width: calc(100% + 30px);
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 45px 25px;
            display: flex;
            height: 100%;
            content: '';
            left: -30px;
            top: 0;
        }
        h2 {
            font-weight: 600;
            color: #FFF;
        }
        p {
            color: rgba(#FFF, .7);
            font-size: 16px;
        }
    }
}
/* login section end */

@media only screen and (max-width: 991px)  {
    .company-description {
        &::after {display: none !important;}
    }
}
