@import "partials/init";
/* common style start */
.wrapper {
    display: flex;
    width: 100%;
    background: #FFF;
    .column {
        width: 100%;
        height: 100vh;
    }
}
.aside .brand, .main-nav {
    height: 56px;
    line-height: 56px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
}
.aside-nav, .body-container {
    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
/* common style end */



/* brand style start */
.aside .brand {
    padding: 0 56px 0 20px;
    overflow: hidden;
    background: darken(#663399, 5%);
    border-right: 1px solid darken(#663399, 7%);
    span {
        color: #FFF;
        font-size: 21px;
        word-spacing: 3px;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
    #aside-close {
        position: absolute;
        width: 56px;
        height: 56px;
        line-height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        top: 0;
        right: 0;
        color: #FFF;
        transition: all .2s;
        border-left: 1px solid lighten(#663399, 1%);
        &:hover {background: darken(#663399, 1%);}
    }
}
.wrapper.aside-close .aside {
    opacity: 0;
    max-width: 0;
    min-width: 0;
    .aside-nav {display: none;}
}
/* brand style end */



/* aside nav style start */
.column.aside {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 250px;
    min-width: 250px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    z-index: 1001;
    background: #F5F7FA;
}
.aside-nav {
    padding: 20px;
    border-right: 1px solid #ececec;
    h6 {
        color: #000;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 600;
    }
    li {
        img {
            width: 13px;
            vertical-align: middle;
            margin-top: -3px;
            margin-right: 17px;
        }
        a {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 14px;
            color: rgba(#000, .85);
            height: 42px;
            line-height: 42px;
            font-weight: 600;
            transition: all .2s;
            i {
                margin-right: 17px;
                vertical-align: top;
                line-height: 42px;
                display: inline-block;
                font-size: 16px;
            }
            .badge {
                font-size: 12px;
                font-weight: 400;
                margin-top: 10px;
                padding: 3px 7px;
                border-radius: 10px;
                background: #663399;
                color: #FFF;
            }
            &:hover {color: #663399;}
        }
        &.active> a {color: #663399;}
        .float-right i {
            font-size: 15px;
            margin-right: 6px;
        }
        ul {
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            width: 100%;
            transition: all 0.3s ease-in-out;
            a {
                height: 36px;
                line-height: 36px;
                padding-left: 35px;
            }
        }
        &.active ul {
            max-height: 100vh;
            opacity: 1;
        }
        i.down {display: none;}
        &.active i.down {display: inherit;}
        &.active i.right {display: none;}
    }
}
/* aside style end */



/* rightbar styel start */
.right-bar {
    box-shadow: 0 0 24px 0 rgba(49,58,70,.1),
                0 1px 0 0 rgba(49,58,70,.08);
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    z-index: 999;
    background: #FFFFFF;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
    &.active {right: 0;}
    .title {
        height: 56px;
        line-height: 56px;
        padding-left: 20px;
        overflow: hidden;
        background: darken(#663399, 5%);
        border-left: 1px solid lighten(#663399, 1%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            color: #FFF;
            font-size: 21px;
            word-spacing: 3px;
            font-weight: 600;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
        }
        .settings {
            color: #FFF;
            cursor: pointer;
            min-width: 56px;
            height: 56px;
            display: flex;
            padding-top: 3px;
            justify-content: center;
            align-items: center;
            transition: all .2s;
            border-left: 1px solid lighten(#663399, 1%);
            &:hover {background: darken(#663399, 1%);}
        }
    }

    .settings-body {
        padding: 20px;
    }
}
/* rightbar styel end */



/* nav style start */
.main-nav {
    padding: 0 20px;
    background: #663399;
    ul {
        margin: 0;
        li {
            height: 56px;
            line-height: 56px;
            float: left;
        }
        &.float-right {
            li {margin-left: 15px;}
        }
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 7px;
        }
        .user-dropdown {
    		position: relative;
            &>a {
                color: #FFF;
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background: rgba(#FFF, .1);
                border-radius: 50%;
                transition: all .2s;
                i {
                    vertical-align: middle;
                    display: inline-block;
                }
                &:focus,
                &:hover {background: rgba(#FFF, .2);}
                &#aside-toggle i {padding-top: 2px;}
            }
    		.sub-menu {
                box-shadow: 0 2px 5px rgba(0,0,0,.07);
                border: 1px solid #ddd;
                border-top: none;
    			position: absolute;
    			top: 150%;
    			max-width: 240px;
                width: 235px;
    			opacity: 0;
    			right: 0;
    			background: white;
    			z-index: -9;
    			transition: all .2s;
                height: auto;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    bottom: calc(100% - 7px);
                    transform: rotate(45deg);
                    background: #E8F1FD;
                    right: 10px;
                }
                li {
                    margin: 0;
                    width: 100%;
                    height: auto;
                    line-height: 24px;
                    &.head {
                        background: #E8F1FD;
                        font-size: 17px;
                        a {padding: 12px 15px 8px;}
                        h6 {margin: 0;}
                        &:hover {background: #E8F1FD;}
                    }
                    a {
                        border-bottom: 1px solid #E8F1FD;
        				display: inline-block;
        				width: 100%;
                        font-size: 14px;
        				padding: 7px 15px;
        				color: rgba(#000, .85);
                        transition: all .2s;
        				&:hover {color: #663399;}
                        .badge {
                            font-size: 11px;
                            font-weight: 400;
                            margin-top: 3px;
                            padding: 4px 7px 3px;
                            border-radius: 10px;
                            background: #6C757D;
                            color: #FFF;
                        }
        			}
                }
                small {
                    display: inline-block;
                    width: 100%;
                }
    		}
    	}
        .user-dropdown.active {
            ul.sub-menu {
                opacity: 1;
    			top: 101%;
    			z-index: 999;
            }
        }
    }
}
/* nav style end */



/* body header start */
.body-header {
    box-shadow: 0 8px 8px -10px rgba(0,0,0,.2) !important;
    width: 100%;
    margin-bottom: 25px;
    padding: 20px 5px 8px;
    background: #F5F7FA;
    h3 {
        font-size: 22px;
        margin: 0;
        color: #663399;
        font-weight: 600;
    }
    ul {
        margin: 0;
        li {
            float: left;
            &:last-child a {margin-right: 0;}
        }
        a {
            display: inline-block;
            margin: 10px 20px 0 0;
            font-size: 14px;
            padding-bottom: 3px;
            color: rgba(#000, .85);
            transition: all .2s;
            &:hover,
            &.active {color: #663399;}
        }
    }
}
/* body header end */



/* body content start */
.body-content {
    padding: 0 5px;
    width: 100%;
    /* form style start */
    form {
        font-size: 14px;
        label {
            text-overflow: ellipsis;
            color: rgba(#000, .85);
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            font-weight: 600;
        }
        .required {
            label {
                &:after {
                    content: " *";
                    color: #DA1D5E;
                }
            }
        }
        .form-control {
            resize: none;
            color: rgba(#000, .75) !important;
            border: 1px solid lighten(#ced4da, 5%);
    		&:focus {
    			box-shadow: none;
    			border-color: rgba(#663399, .5);
    		}
    	}
        .form-control::-webkit-input-placeholder {color: rgba(#000, .3);}
        .form-control::placeholder {color: rgba(#000, .3);}
    	.btn {
    		border: none;
    		height: 35px;
    		line-height: 35px;
    		padding: 0 15px;
    		min-width: 90px;
    		font-size: 14px;
            color: #EFEFEF;
            margin: 5px 12px 0 0;
            font-weight: 600;
            &:first-child {margin-left: 0;}
            &:last-child {margin-right: 0;}
    	}
        .submit-btn {
            background: #663399;
            &:hover {background: darken(#663399, 7%);}
        }
        .reset-btn {
            background: darken(#F5F7FA, 3%);
            color: rgba(0, 0, 0, 0.6);
            &:hover {background: darken(#F5F7FA, 7%);}
        }

        input[type=text],
        input[type=email],
        input[type=password],
        input[type=date],
        select {
            height: 36px;
            line-height: 36px;
            font-size: 14px !important;
        }
        input[type=date] {
            color: rgba(#000, .3) !important;
            line-height: 16px;
        }
        input[type=file] {
            padding: 0;
            height: 36px;
            line-height: 28px;
            font-size: 14px !important;
            color: rgba(#000, .3) !important;
        }
        option[disabled] {color: rgba(#000, .3);}

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
        }
        input[type=number] {-moz-appearance: textfield;}
        input {color: rgba(0, 0, 0, 0.6) !important;}

        /* checkbox style */
        .form-check {
            margin-bottom: 15px;
            label {cursor: pointer;}
        }
        input[type=checkbox] {display: none;}
        input[type=checkbox] + label:before {
            content: "\2714";
            border: 1px solid rgba(#000, .5);
            display: inline-block;
            width: 14px;
            height: 14px;
            vertical-align: middle;
            text-align: center;
            color: transparent;
            transition: .2s;
            font-size: 9px;
            margin: -4px 7px 0 0;
            border-radius: 2px;
        }
        input[type=checkbox]:checked + label:before {
            background-color: rgba(#663399, .7);
            border-color: rgba(#663399, .8);
            color: #FFF;
        }

        input[type="radio"]:checked,
        input[type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        input[type="radio"]:checked + label,
        input[type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            display: inline-block;
            color: rgba(#000, .85);
        }
        input[type="radio"]:checked + label:before,
        input[type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 1px;
            width: 17px;
            height: 17px;
            border: 1px solid #ced4da;
            border-radius: 100%;
            background: #FFF;
        }
        input[type="radio"]:checked + label:after,
        input[type="radio"]:not(:checked) + label:after {
            content: '';
            width: 11px;
            height: 11px;
            background: rgba(#663399, .7);
            position: absolute;
            top: 4px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        input[type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        input[type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    .question-link {
        border-radius: .25rem !important;
        overflow: hidden;
    }
    .cke_chrome {
        border-radius: .25rem !important;
        overflow: hidden;
        border-color: #dfe3e7 !important;
    }
    .cke_bottom,
    .cke_top,
    .question-radio {
        background: #F5F7FA !important;
        border-color: #dfe3e7 !important;
    }
    .delete-check {
        text-align: center;
        position: relative;
        height: 18px;
        input[type=checkbox] {
            opacity: 0 !important;
            width: 17px;
            height: 17px;
            position: absolute;
            cursor: pointer;
        }
        input[type=checkbox] + label:before {
            content: "\2714";
            border: 1px solid rgba(#000, .5);
            display: inline-block;
            width: 17px;
            height: 17px;
            vertical-align: top;
            text-align: center;
            color: transparent;
            transition: .2s;
            font-size: 11px;
            border-radius: 2px;
        }
        input[type=checkbox]:checked + label:before {
            background-color: rgba(#663399, .7);
            border-color: rgba(#663399, .8);
            color: #FFF;
        }
    }

    .status {
        width: 75px;
        input[type=checkbox] {
            opacity: 0 !important;
            width: 32px;
            height: 17px;
            position: absolute;
            cursor: pointer;
        }
        input[type=checkbox] + label {
            border: 1px solid rgba(#663399, .3);
            position: relative;
            width: 34px;
            height: 18px;
            transition: .2s;
            font-size: 11px;
            border-radius: 10px;
            cursor: pointer;
            margin: 0 0 -5px;
        }
        input[type=checkbox] + label:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            transition: .2s;
            border-radius: 8px;
            background: rgba(#663399, .3);
            left: 1px;
            top: 1px;
        }
        input[type=checkbox]:checked + label {
            background: rgba(#663399, .7);
            border: 1px solid rgba(#663399, .7);
        }
        input[type=checkbox]:checked + label:before {
            left: calc(100% - 15px);
            background: #FFF;
        }
    }
    /* form style end */

    /* tabs form style start */
    .tabs-form {
        .nav-tabs {
            display: flex;
            border-bottom: 1px solid lighten(#ced4da, 5%);
            padding: 0 0 15px;
            margin-bottom: 5px;
            .nav-link {
                color: rgba(#000, .85);
                min-width: 115px;
                border: none;
                margin: 0 5px 5px 0;
                background: #F5F7FA;
                border-radius: 4px;
                padding: 0 22px 0 0;
                font-size: 14px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                overflow: hidden;
                font-weight: 600;
                span {
                    background: rgba(#000, .09);
                    min-width: 40px;
                    padding-right: 8px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    display: inline-block;
                    margin-right: 6px;
                    text-align: center;
                    -webkit-clip-path: polygon(0 0, 0 100%, 73% 100%, 100% 52%, 73% 0);
                    clip-path: polygon(0 0, 0 100%, 73% 100%, 100% 52%, 73% 0);
                }
                &.active {
                    background: #663399;
                    color: #FFF;
                }
            }
        }
        .tab-content {padding: 15px 0;}
    }
    /* tabs form style start */

    /* question link style start */
    .question-link {
        display: flex;
        .question-radio {
            background: #F8F8F8;
            border: 1px solid #d1d1d1;
            border-right: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 15px;
        }
    }
    /* question link style end */

    /* alert style start */
    .alert {margin-bottom: 20px;}
    /* alert style end */

    /* table style start */
    .table {
        font-size: 14px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
        .list-header {
            &.active {background: rgba(#663399, .1);}
        }
        tbody tr:nth-of-type(odd) {background-color: #F5F7FA;}
        .serial-number {width: 70px;}
        th,td {
            color: rgba(#000, .85);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 90px;
            vertical-align: middle;
            img {max-height: 18px;}
        }
        .check-box {width: 50px;}
        .table-action {
            min-width: 140px !important;
            width: 140px !important;
            text-align: right;
            padding-top: 2px;
            padding-bottom: 0;
            a {
                color: #663399;
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background: rgba(#663399, .1);
                border-radius: 50%;
                transition: all .2s;
                i {vertical-align: middle;}
                &:focus,
                &:hover {background: rgba(#663399, .3);}
            }
        }
        .generate {
            min-width: 90px !important;
            width: 90px !important;
            text-align: center;
            padding-top: 2px;
            padding-bottom: 0;
            a {
                color: #663399;
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background: rgba(#663399, .1);
                border-radius: 50%;
                transition: all .2s;
                i {vertical-align: middle;}
                &:focus,
                &.active,
                &:hover {
                    background: rgba(#663399, .7);
                    color: #FFF;
                }
            }
        }
        .header-action-title.active {display: none;}
        .header-action {
            width: 100% !important;
            text-align: right;
            display: none;
            height: 20px;
            line-height: 20px;
            justify-content: flex-end;
            align-items: center;
            a {
                color: #663399;
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background: rgba(#663399, .3);
                border-radius: 50%;
                transition: all .2s;
                margin-top: 2px;
                margin-left: 5px;
                &:first-child {margin-left: 0;}
                i {vertical-align: middle;}
                &:focus,
                &:hover {
                    background: rgba(#663399, .7);
                    color: #FFF;
                }
            }
            &.active {display: flex;}
        }
    }
    /* table style end */

    /* media css start */
    .media-content {
        .media-header {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .all-media {
            position: relative;
            label {
                cursor: pointer;
                line-height: 22px;
                margin: 0;
            }
            span {margin-left: 8px;}
            input[type=checkbox] {
                opacity: 0 !important;
                width: 20px;
                height: 20px;
                position: absolute;
                cursor: pointer;
            }
            input[type=checkbox] + label:before {
                content: "\2714";
                border: 1px solid rgba(#663399, .7);
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: top;
                text-align: center;
                color: transparent;
                transition: .2s;
                font-size: 14px;
            }
            input[type=checkbox]:checked + label:after {
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                top: 4px;
                left: 3px;
                position: absolute;
                background: #663399;
            }
        }
        .action-media {
            a {
                color: #FFF;
                display: inline-block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background: rgba(#663399, .7);
                border-radius: 50%;
                transition: all .2s;
                i {
                    vertical-align: middle;
                    display: inline-block;
                }
                &:focus,
                &:hover {background: #663399;}
            }
        }
        .select-check {
            position: absolute;
            top: 4px;
            right: 4px;
            z-index: 999;
            input[type=checkbox] {
                opacity: 0 !important;
                width: 22px;
                height: 22px;
                position: absolute;
                cursor: pointer;
            }
            input[type=checkbox] + label:before {
                content: "\2714";
                border: 1px solid rgba(#663399, .7);
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: top;
                text-align: center;
                color: transparent;
                transition: .2s;
                font-size: 14px;
            }

            input[type=checkbox]:checked  + label:after {
                content: '';
                display: inline-block;
                width: 14px;
                height: 14px;
                top: 3px;
                left: 3px;
                position: absolute;
                background: #663399;
                z-index: -1;
            }
        }

        .modal-dialog {padding: 0 15px;}
        .modal-content {border-radius: 0;}
        .modal-title {
            font-size: 22px;
            color: #663399;
            font-weight: 600;
        }
        .modal-header {
            button {
                &:focus {outline: none;}
                span {
                    color: #FFF;
                    display: inline-block;
                    width: 26px;
                    height: 26px;
                    line-height: 25px;
                    font-size: 15px;
                    color: #FFF;
                    text-align: center;
                    background: rgba(#663399, .7);
                    border-radius: 50%;
                    transition: all .2s;
                    &:focus,
                    &:hover {background: rgba(#663399, .9);}
                }
            }
        }
        .media-records {
            position: relative;
            cursor: pointer;
            overflow: hidden;
            border: 1px solid rgba(#663399, .1);
            figcaption {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                z-index: 99;
                a {
                    color: #663399;
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    line-height: 34px;
                    text-align: center;
                    background: rgba(#FFF, .7);
                    border-radius: 50%;
                    transition: all .2s;
                    margin: 0 20px;
                    opacity: 0;
                    i {
                        vertical-align: middle;
                        display: inline-block;
                    }
                    &.delete:hover {background: #bc0b0b;}
                    &:hover {
                        background: #663399;
                        color: #FFF;
                    }
                }
            }
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: all .2s;
            }
            img {
                transform: scale(1.05);
                width: 100%;
                transition: all .2s;
            }
            &:hover {
                &::after {background: rgba(#000, .4);}
                a {
                    margin: 0 1px;
                    opacity: 1;
                }
            }
        }
        .media-img {
            height: 125px;
            img {
                height: 100%;
                object-fit: cover;
            }
            &:hover img {transform: scale(1.05);}
        }
        .media-file {min-height: 125px;}

        .modal-body {
            img {width: 100%;}
            article {
                li {
                    font-size: 15px;
                    margin-bottom: 10px;
                    span {
                        font-weight: bold;
                        min-width: 100px;
                        position: relative;
                        display: inline-block;
                        margin-right: 20px;
                        &::after {
                            position: absolute;
                            content: ':';
                            display: inline-block;
                            right: -12px;
                            top: 0;
                            font-weight: bold;
                        }
                    }
                }
            }

            .form-group {
                position: relative;
                label {margin-bottom: 0;}
                button {
                    position: absolute;
                    background: #663399;
                    color: #fff;
                    bottom: 0;
                    border-radius: 0 6px 6px 0;
                    right: 5px;
                    height: 36px;
                    line-height: 36px;
                    border: none;
                    padding: 0 12px;
                    cursor: pointer;
                }
            }
            .modal-action {
                a {
                    display: inline-block;
                    background: #663399;
                    color: #FFF;
                    height: 36px;
                    line-height: 36px;
                    padding: 0 15px;
                    border-radius: 4px;
                    font-size: 14px;
                    margin-right: 8px;
                    min-width: 95px;
                    text-align: center;
                    transition: all .2s;
                    &:hover {background: darken(#663399, 15%);}
                    &.delete {
                        background: #bc0b0b;
                        &:hover {background: darken(#bc0b0b, 15%);}
                    }
                    &:last-child {margin-right: 0;}
                }
            }
        }
    }
    /* media css end */

    /* pagination style start */
    .pagination {
        display: inline-block;
        border-radius: 0;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    	.page-item {
    		border-radius: 0;
            float: left;
    		.page-link {
    			padding: 9px 14px;
                font-size: 14px;
                &:focus {box-shadow: none;}
    		}
    	}
        .page-item.active .page-link {
            border-color: rgba(#663399, .7);
            background: #663399;
            color: #FFF;
        }
    }
    /* pagination style end */


    /* sitemap style */
    .site-map {
        h5 {
            background: #F5F7FA;
            color: #663399;
            padding: 3px 0;
            font-size: 18px;
        }
        a {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            &:hover {text-decoration: underline;}
        }
    }
}
/* body content end */



/* wrapper cover start */
.wrapper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.5);
    z-index: 1000;
    &.none {display: none;}
}
/* wrapper cover end */



/* responsive style start */
@media only screen and (min-width: 991px)  {
    .wrapper-background {display: none;}
    .column.aside {
        position: static;
        #aside-close {display: none;}
    }
}
/* responsive style end */
