.container {
  min-height: 10px;
  padding: 0 15px;
  max-width: 80%;
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
.container_fluid {
  min-height: 10px;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

[class*=col_md_],
[class*=col_sm_],
[class*=col_md_],
[class*=col_lg_],
[class*=col_xl_] {
  width: 100%;
  padding: 0 15px;
}

.col_1 {
  width: 8.3333%;
}

.col_2 {
  width: 16.6667%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.3333%;
}

.col_5 {
  width: 41.6667%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.333333%;
}

.col_8 {
  width: 66.6667%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.333333%;
}

.col_11 {
  width: 91.6667%;
}

.col_12 {
  width: 100%;
}

@media (min-width: 576px) {
  .col_sm_1 {
    width: 8.3333%;
  }

  .col_sm_2 {
    width: 16.6667%;
  }

  .col_sm_3 {
    width: 25%;
  }

  .col_sm_4 {
    width: 33.3333%;
  }

  .col_sm_5 {
    width: 41.6667%;
  }

  .col_sm_6 {
    width: 50%;
  }

  .col_sm_7 {
    width: 58.333333%;
  }

  .col_sm_8 {
    width: 66.6667%;
  }

  .col_sm_9 {
    width: 75%;
  }

  .col_sm_10 {
    width: 83.333333%;
  }

  .col_sm_11 {
    width: 91.6667%;
  }

  .col_sm_12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col_md_1 {
    width: 8.3333%;
  }

  .col_md_2 {
    width: 16.6667%;
  }

  .col_md_3 {
    width: 25%;
  }

  .col_md_4 {
    width: 33.3333%;
  }

  .col_md_5 {
    width: 41.6667%;
  }

  .col_md_6 {
    width: 50%;
  }

  .col_md_7 {
    width: 58.333333%;
  }

  .col_md_8 {
    width: 66.6667%;
  }

  .col_md_9 {
    width: 75%;
  }

  .col_md_10 {
    width: 83.333333%;
  }

  .col_md_11 {
    width: 91.6667%;
  }

  .col_md_12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col_lg_1 {
    width: 8.3333%;
  }

  .col_lg_2 {
    width: 16.6667%;
  }

  .col_lg_3 {
    width: 25%;
  }

  .col_lg_4 {
    width: 33.3333%;
  }

  .col_lg_5 {
    width: 41.6667%;
  }

  .col_lg_6 {
    width: 50%;
  }

  .col_lg_7 {
    width: 58.333333%;
  }

  .col_lg_8 {
    width: 66.6667%;
  }

  .col_lg_9 {
    width: 75%;
  }

  .col_lg_10 {
    width: 83.333333%;
  }

  .col_lg_11 {
    width: 91.6667%;
  }

  .col_lg_12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col_xl_1 {
    width: 8.3333%;
  }

  .col_xl_2 {
    width: 16.6667%;
  }

  .col_xl_3 {
    width: 25%;
  }

  .col_xl_4 {
    width: 33.3333%;
  }

  .col_xl_5 {
    width: 41.6667%;
  }

  .col_xl_6 {
    width: 50%;
  }

  .col_xl_7 {
    width: 58.333333%;
  }

  .col_xl_8 {
    width: 66.6667%;
  }

  .col_xl_9 {
    width: 75%;
  }

  .col_xl_10 {
    width: 83.333333%;
  }

  .col_xl_11 {
    width: 91.6667%;
  }

  .col_xl_12 {
    width: 100%;
  }
}
.offset_1 {
  margin-left: 8.3333%;
}

.offset_2 {
  margin-left: 16.6667%;
}

.offset_3 {
  margin-left: 25%;
}

.offset_4 {
  margin-left: 33.3333%;
}

.offset_5 {
  margin-left: 41.6667%;
}

.offset_6 {
  margin-left: 50%;
}

.offset_7 {
  margin-left: 58.333333%;
}

.offset_8 {
  margin-left: 66.6667%;
}

.offset_9 {
  margin-left: 75%;
}

.offset_10 {
  margin-left: 83.333333%;
}

.offset_11 {
  margin-left: 91.6667%;
}

.offset_12 {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .offset_sm_1 {
    margin-left: 8.3333%;
  }

  .offset_sm_2 {
    margin-left: 16.6667%;
  }

  .offset_sm_3 {
    margin-left: 25%;
  }

  .offset_sm_4 {
    margin-left: 33.3333%;
  }

  .offset_sm_5 {
    margin-left: 41.6667%;
  }

  .offset_sm_6 {
    margin-left: 50%;
  }

  .offset_sm_7 {
    margin-left: 58.333333%;
  }

  .offset_sm_8 {
    margin-left: 66.6667%;
  }

  .offset_sm_9 {
    margin-left: 75%;
  }

  .offset_sm_10 {
    margin-left: 83.333333%;
  }

  .offset_sm_11 {
    margin-left: 91.6667%;
  }

  .offset_sm_12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .offset_md_1 {
    margin-left: 8.3333%;
  }

  .offset_md_2 {
    margin-left: 16.6667%;
  }

  .offset_md_3 {
    margin-left: 25%;
  }

  .offset_md_4 {
    margin-left: 33.3333%;
  }

  .offset_md_5 {
    margin-left: 41.6667%;
  }

  .offset_md_6 {
    margin-left: 50%;
  }

  .offset_md_7 {
    margin-left: 58.333333%;
  }

  .offset_md_8 {
    margin-left: 66.6667%;
  }

  .offset_md_9 {
    margin-left: 75%;
  }

  .offset_md_10 {
    margin-left: 83.333333%;
  }

  .offset_md_11 {
    margin-left: 91.6667%;
  }

  .offset_md_12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .offset_lg_1 {
    margin-left: 8.3333%;
  }

  .offset_lg_2 {
    margin-left: 16.6667%;
  }

  .offset_lg_3 {
    margin-left: 25%;
  }

  .offset_lg_4 {
    margin-left: 33.3333%;
  }

  .offset_lg_5 {
    margin-left: 41.6667%;
  }

  .offset_lg_6 {
    margin-left: 50%;
  }

  .offset_lg_7 {
    margin-left: 58.333333%;
  }

  .offset_lg_8 {
    margin-left: 66.6667%;
  }

  .offset_lg_9 {
    margin-left: 75%;
  }

  .offset_lg_10 {
    margin-left: 83.333333%;
  }

  .offset_lg_11 {
    margin-left: 91.6667%;
  }

  .offset_lg_12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .offset_xl_1 {
    margin-left: 8.3333%;
  }

  .offset_xl_2 {
    margin-left: 16.6667%;
  }

  .offset_xl_3 {
    margin-left: 25%;
  }

  .offset_xl_4 {
    margin-left: 33.3333%;
  }

  .offset_xl_5 {
    margin-left: 41.6667%;
  }

  .offset_xl_6 {
    margin-left: 50%;
  }

  .offset_xl_7 {
    margin-left: 58.333333%;
  }

  .offset_xl_8 {
    margin-left: 66.6667%;
  }

  .offset_xl_9 {
    margin-left: 75%;
  }

  .offset_xl_10 {
    margin-left: 83.333333%;
  }

  .offset_xl_11 {
    margin-left: 91.6667%;
  }

  .offset_xl_12 {
    margin-left: 100%;
  }
}

/*# sourceMappingURL=grid.css.map */
