*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Nunito Sans', sans-serif; }

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none; }

p {
  font-size: 15px;
  color: #212529; }

ul, ol {
  list-style-type: none; }

/* login section start */
.login-section {
  background: url("../images/bg-img/bg-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center; }
  .login-section .login-area {
    background: url("../images/bg-img/credential-bd.jpg");
    background-position: right;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 8px 20px 0px #666666; }
  .login-section .form-content {
    text-align: center;
    padding: 75px 10% 50px;
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center; }
    .login-section .form-content h6 {
      text-transform: uppercase;
      margin-bottom: 3px;
      font-weight: 600;
      font-size: 14px;
      color: #000; }
    .login-section .form-content h2 {
      font-weight: bold;
      color: #0A0010; }
    .login-section .form-content .sign-text {
      font-weight: bold; }
      .login-section .form-content .sign-text a {
        color: #0A0010;
        text-decoration: underline; }
    .login-section .form-content .form-group {
      position: relative; }
      .login-section .form-content .form-group i {
        color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 18px; }
    .login-section .form-content .form-control {
      font-size: 15px;
      background: none;
      height: 46px;
      line-height: 44px;
      padding: 0 25px 0 42px;
      color: #000;
      border-radius: 25px; }
      .login-section .form-content .form-control:focus {
        border-color: #6A2A6E;
        box-shadow: none;
        outline: none; }
      .login-section .form-content .form-control::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.7); }
  .login-section input[type="submit"] {
    background: linear-gradient(to right, #300043, #0A0010);
    box-shadow: 1px 2px 5px 0px #999999;
    text-transform: uppercase;
    transition: all .2s;
    border-radius: 25px;
    line-height: 48px;
    padding: 0 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    height: 46px;
    width: 100%;
    color: #FFF; }
  .login-section input[type="submit"]:focus {
    outline: none; }
  .login-section .company-description {
    position: relative;
    text-align: center;
    height: 100%; }
    .login-section .company-description .discription-cover {
      background: linear-gradient(to top left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
      width: calc(100% + 30px);
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 45px 25px;
      display: flex;
      height: 100%;
      content: '';
      left: -30px;
      top: 0; }
    .login-section .company-description h2 {
      font-weight: 600;
      color: #FFF; }
    .login-section .company-description p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px; }

/* login section end */
@media only screen and (max-width: 991px) {
  .company-description::after {
    display: none !important; } }

/*# sourceMappingURL=credential.css.map */
